* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body {
    background-color: rgb(30, 30, 30);
    overflow: auto;
    margin: 0;

}

html body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    padding: 5px 2%;
    transition: all .50s ease;
    background-color: #242424;
    opacity: 95%;


}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 40px;
    transition: all .50s ease;
    color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline-block;

}

.navbar a:hover {
    color: aqua;
}

.logo a {
    font-family: 'Rowdies', cursive;
    color: aqua;
    letter-spacing: 2.5px;
}

.logo h1:hover {
    cursor: pointer;
}

.contact {
    display: inline-block;
    width: 90px;
    background-color: aqua;
    border: 2px solid rgb(144, 144, 144);
    border-radius: 15px;
    text-align: center;
    color: black !important;
}







/* ------------Icon------------------ */

.fa-twitter {

    color: rgb(255, 255, 255);
    font-size: 40px !important;
    position: fixed;
    top: 322px;
    left: 97%;
}

.fa-linkedin {

    color: white;
    font-size: 40px !important;
    position: fixed;
    top: 282px;
    left: 97%;
}

.fa-instagram {

    color: white;
    font-size: 40px !important;
    position: fixed;
    top: 242px;
    left: 97%;
}

.fa-github {

    color: white;
    font-size: 40px !important;
    position: fixed;
    top: 200px;
    left: 97%;
}

footer a:hover {
    color: aqua;
}

/* ------------------------------- */


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 80px 50px;
    position: relative;
    width: 45%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    border-radius: 10px;
    margin: 30px;

}


@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 1s;
}

.container:nth-child(2) {
    animation-delay: 2s;
}

.container:nth-child(3) {
    animation-delay: 3s;
}

.container:nth-child(4) {
    animation-delay: 4s;
}


.container:nth-child(5) {
    animation-delay: 5s;
}

.container:nth-child(6) {
    animation-delay: 6s;
}

.container:nth-child(7) {
    animation-delay: 7s;
}

.container:nth-child(8) {
    animation-delay: 8s;
}

.container:nth-child(9) {
    animation-delay: 9s;
}


.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    opacity: 90%;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 40px;
    border-radius: 20%;
    right: -30px;
    top: 22px;
    z-index: 10;

}

.right-container img {
    left: -48px;

}

.left-container img {
    right: -48px;
}


.boulou {
    background-image: url("education-images/304031992_536955538233511_1771021700650279873_n.jpg");
}

.stnicolas {
    background-image: url("education-images/stnicolas.png")
}

.stjoseph {
    background-image: url("education-images/stjoseph.jpeg")
}

.seegoolam {
    background-image: url("education-images/seegoolam.jpg")
}

.uom {
    background-image: url("education-images/uomback.jpg")
}

.coursera {
    background-image: url("education-images/courseraback.png");
    background-size: 550px;

}

.udemy {
    background-image: url("education-images/udemyback.png");
    background-size: 550px;
}

/* .boulou.stjoseph.stnicolas.uom {
    margin-left: 30px;
    border-radius: 10px;

} */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }

}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: 15px;

}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: 15px;

}


@media screen and (max-width:600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid white;
        border-left: 0;
        left: 15px;
    }
}


/* ------------------footer copyright----------------- */

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

.footer-menu li {
    font-size: 14px;
    margin: 0 10px;


}

.copyright {
    background-color: rgb(10, 10, 10);
    color: white;
    position: absolute;
    top: 2500px;
    width: 100%;
    height: 75px;
}

.col-left {
    width: 50%;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
}

/* ----------------------------------- */
/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}